.table-bnt{
	text-decoration: none !important;
}


form > p.error {
    color: red !important;
}

/***Update Price Add button for new field**/
a.add_btn, .modal_btn {
    float: right;
}

.half {
	    width: 35% !important;
}

td > img.img_product{
	width: 100%;
    border-radius: 5%;
}
td.product{
	width: 10% !important;
	height: 10% !important;
}
