 <div class="login_modal">
          <form name="itemEdit" novalidate>
            <ion-header-bar class="bar-positive fix-buttons">
              <a  ng-click="register()" class="button">Sing Up</a>
              <h1 class="title">Sign In</h1>
              <a  ng-click="guest()"class="button">Guest</a>
            </ion-header-bar>
            <div>  
            <span>{{field}}</span>  
              <label class="item item-input">
                <input type="text"  ng-model="user.username" placeholder="Username">
              </label>
              <label class="item item-input">
                <input type="password"  ng-model="user.password" placeholder="Password">
              </label>
            </div>
          </form>
        </div>
