<!--  <ion-view view-title="Register Now!">
        <ion-content class="padding">
         <div class="card">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Complete Name</span>
          <input type="text" placeholder="Ex. Juan Dela Cruz" ng-model="newAcc.completename">
        </label>
         <label class="item item-input item-stacked-label">
          <span class="input-label">Username</span>
          <input type="text" placeholder="Ex. Juan" ng-model="newAcc.username">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="*****" ng-model="newAcc.password">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="email" placeholder="juan.delacruz@suhr.com" ng-model="newAcc.email">
        </label>
       <label class="item item-input item-stacked-label">
          <span class="input-label">Mobile Number</span>
          <input type="text" placeholder="Ex. 092619+++" ng-model="newAcc.contact">
        </label>
         <label class="item item-input item-stacked-label">
          <span class="input-label">Complete Address</span>
          <input type="text" placeholder="Ex. Brgy.31 Agusan Ave. Cagayan de Oro City" ng-model="newAcc.address">
        </label>
         <button class="button button-block button-balanced" ng-click="signup()">
            Sign Up
          </button>
      </div>
        </ion-content>
      </ion-view>
 -->


      <div class="login_modal">
          <form name="itemEdit" novalidate>
            <ion-header-bar class="bar-positive fix-buttons">
              <a  ng-click="registercancel ()" class="button">Cancel</a>
              <h1 class="title">Register</h1>
              <a  ng-click="guest()"class="button">Guest</a>
            </ion-header-bar>
            <div>  
      <label class="item item-input item-stacked-label">
          <span class="input-label">Complete Name</span>
          <input type="text" placeholder="Ex. Juan Dela Cruz" ng-model="newAcc.completename">
        </label>
         <label class="item item-input item-stacked-label">
          <span class="input-label">Username</span>
          <input type="text" placeholder="Ex. Juan" ng-model="newAcc.username">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="*****" ng-model="newAcc.password">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="email" placeholder="juan.delacruz@suhr.com" ng-model="newAcc.email">
        </label>
       <label class="item item-input item-stacked-label">
          <span class="input-label">Mobile Number</span>
          <input type="text" placeholder="Ex. 092619+++" ng-model="newAcc.contact">
        </label>
         <label class="item item-input item-stacked-label">
          <span class="input-label">Complete Address</span>
          <input type="text" placeholder="Ex. Brgy.31 Agusan Ave. Cagayan de Oro City" ng-model="newAcc.address">
        </label>



            </div>
          </form>
        </div>
