<ion-view view-title="COMMODITY PREVAILING RETAIL PRICES">
  <ion-content class="padding"> 
    <div class="card">
  <div class="item item-text-wrap">
    <center class="title">
    <h2 ng-repeat="place in places"><strong >{{place.markets}}</strong></h2>
    <div ng-repeat="data in updata"><strong>Date:</strong> {{data.date_start  | date:'MMMM-dd'}} to {{data.date_end | date:'MMMM-dd-yyyy'}}</div>
    </center>
      <button class="button btn-locator" ng-click="placeModal()"></button>
  </div>
   </div>
    <div class="list list-inset"> 
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search" ng-model="name">
  </label>
</div>
<ion-list>

      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="product in list | filter:name" type="item-text-wrap">
      <div>
        <div class="col-item col-image "><center><img src="{{product.imageURL}}"></center></div>

  <div class="col-item"><center>
    <div class="col-name"><strong>{{product.name}}</strong></div>
     <div class="col-list">&#8369;{{product.price}}/{{product.unitofmeasure}}</div>
     </center>
     </div>
     </div>
     <div class="col-item"><center>
    <div class="col-name"><strong>Quantity</strong></div>
     <div class="col-name"><p>Ex. if 1 1/2 use 1.5</p></div>
     <div class="col-list"><input class="quantityfield"type="text" ng-model="product.quantity"></div>
     </center>
     </div>
     </div>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-balanced" ng-click="addToCart(product)">
          Add to List
        </ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
 