<ion-view view-title="COMMODITY PREVAILING RETAIL PRICES">
  <ion-content class="padding">
    <div class="card">
  <div class="item item-text-wrap">
    <center class="title">
    <h2 ng-repeat="place in places"><strong >{{place.markets}}</strong></h2>
    <div ng-repeat="data in updata"><strong>Date:</strong> {{data.date_start  | date:'MMMM-dd'}} to {{data.date_end | date:'MMMM-dd-yyyy'}}</div>
    </center>
      <button class="button btn-locator" ng-click="myPopup()"></button>
  </div>
   </div>
    <div class="list list-inset"> 
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search" ng-model="name">
  </label>
</div>
<div class="list" ng-repeat="product in list | filter:name ">
<div class="row item">

  <div class="col col-image "><center><img src="{{product.imageURL}}"></center></div>
  <div class="col"><center>
    <div class="col-name"><strong>{{product.name}}</strong></div>
     <div class="col-list">&#8369;{{product.price}}/{{product.unitofmeasure}}</div>
     </center>
     </div>
      <div class="col"> 
   <center><button class="button button-small" ng-click="addToCart(product)">
     <img src="img/logomini2.png" class="button-img">
    </button></center></div>
  <!-- <div class="col"> 
  <form>
      <input type="number" placeholder="Quantity" id="Quantity" data-ng-model="Quantity" required>
    </div>
   <div class="col"> 
   <center><button class="button button-small" ng-click="addToFavorite($index)">
     <img src="img/logomini2.png" class="button-img">
    </button></center></div>
    </form>   -->
</div>  
</div>
  </ion-content>
</ion-view>
