/* Empty. Add your own CSS if you like */
@font-face {
    font-family: 'fontawesome';
    src:url('../fonts/fontawesome-webfont.eot');
    src:url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
        url('../fonts/fontawesome-webfont.woff') format('woff'),
        url('../fonts/fontawesome-webfont.woff2') format('woff'),
        url('../fonts/fontawesome-webfont.ttf') format('truetype'),
        url('../fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/**Nav**/
h1.title.title-left {
    color: #fff !important;
}
.tabs-striped.tabs-color-assertive .tab-item.tab-item-active, .tabs-striped.tabs-color-assertive .tab-item.active, .tabs-striped.tabs-color-assertive .tab-item.activated {
    color: #fff;
    background-color: #5CD953;
    border: 0 solid #5CD953;
    
}
.tabs-striped.tabs-color-assertive .tab-item {
    color: rgba(92, 217, 83, 0.4);
    opacity: 1;
}
/**button for price list**/
button.btn{
	padding: 5px 5px !important;
    margin-top: 2%;
    
}
ion-header-bar.bar-stable.bar.bar-header.disable-user-behavior {
    background-color:  #5CD953;
}
button.button.button-balanced.btn{
	background-color:  #5CD953 !important;
}
button.button.button-balanced.btn.activated,
button.button.button-balanced.btn.activate{
	background-color: #83D87D !important;
}
button.button.button-icon.button-clear.ion-navicon {
    color: #fff;
}
button.button.button-light.ion-refresh,
button.button.button-light.ion-home {
    margin-top: 3%;
}
/**My Basket****/
img.basket{
	position: absolute;
    top: 16px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/**Report Us**/
a.button.activated {
    border-bottom: 0px;
    background-color: #5CD953;
    color: #fff;
}
.col1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    overflow: hidden;
    width: 0;
    border-radius: 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: solid 1px #DDDDDD;
    padding: 5px;
}
.col1.activated{
	
    border-bottom: 0px;
    background-color: #5CD953;

}
label.item-step {
    padding: 0px;
    border: 0px;
}
label.item-step .row{
	padding: 0px;
}
.item{
	
}

.col-list {
    font-size: 18px;
    width: 100%;
    margin: 0px 8px 0px 0px;
}

.col-name > strong {
    font-size: 15px;
    
}
/**Header**/
.title.title-left.header-item:after {
    content: url(logo1.png);
    position: absolute;
    top: 25px;
    right: 80px;
    width: 0.1em;
    height: 0.1em;
    -webkit-transform: translateY(-30px) rotate(0deg) scale(0.2);
    -moz-transform: translateY(-30px) rotate(0deg) scale(0.2);
}
/**Intro**/
.logo > img{
    width:100%;
}
p {
  text-align: center;
  margin-bottom: 40px !important;
}
.spinner svg {
  width: 19% !important;
  height: 85px !important;
}
.starter{
    margin-top: 60px;
}
/**Pop-up***/
.button.button-clear {
    float: right;
    width: 10%;
    margin: 0px;
}
.popup-container .popup {
    width: 200px;
    border-radius: 3px;
}
.popup-head h3 {
    font-size: 18px;
}
popup-body input[type="text"] {
    font-size: 17px;
}
.popup-buttons button {
    font-size: 12px;
    padding: 8px;
}
#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}
.bar.bar-dark.bar-footer {
    background-color: #5CD953;
    /* background-image: linear-gradient(180deg, #111, #111 50%, transparent 50%); */
}
.mapcontainer{
    
}
input[type="number"] {
    width: 100%;
    border: solid 1px #CBCBCB!important;
    border-radius: 2px;
    margin-top: 5%;
    padding-left: 3%;
    font-size: 18px;
    }
.input-button{}
.col-image > center > img {
    /* position: absolute; */
    /* top: 16px; */
    /* left: 16px; */
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
button.button.button-small {
    background-color: #5CD953;
}
button.button.button-small .activated {
    background-color: #5CD553;
}
.button-img {
    padding-top: 10%;
}
.col.total {
    font-size: 30px;
}
button.button.red {
    background-color: #fff;
    padding: 0px;
    margin: 0px;
    border: none;
    color: red;
}
.modal-padding{
    margin-top: 50px;
}
.btn-locator:after {
    background-image: url(../img/location.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 15px;
    height: 20px;
    content: "";
    margin: 12px 20px;
}
button.button.btn-locator {
    border-radius: 50%;
        min-width: 45px;
    min-height: 34px;
}
.tab-nav.tabs {
    background-color: #5CD953;
}

.tab-nav.tabs {
    background-color: #5CD953;
}
a.tab-item.tab-item-active {
    color: #fff;
}
a.tab-item{
    color:#E1E1E1;
}
.title.title-center.header-item {
    color: #fff;
    font-size: 20px;
}
select#provinceSelect {
    margin: auto;
    width: 100%;
}
div.col-image > center {
    height: 50px;
}
.padding {
    background-color: rgba(225, 225, 225, 0.65);
}
.badge-counter {
    position: relative;
    right: -170px;
    top: -20px;
}
.col-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    padding: 5px;
    width: 50%;
    float: left;
}
.item-avatar .item-content{
    padding-left: 0px !important;
}
center.title{
    float: right;
    width: 87%;
}